[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/BuFran/libopencm3
#[submodule "lib/dev_LCD_HD44780"]
#	path = lib/dev_LCD_HD44780
#	url = https://github.com/gr4viton/dev_LCD_HD44780
